@import 'base';
.container {
  @extend .flex-column-center;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.accounts {
  @extend .flex-column-center;
  width: 50%;
}
