@import '../../../../../../styles/colors';

.container {
  box-sizing: border-box;
  min-width: 240px;
  min-height: 180px;
  transform: rotate(0deg);
  overflow: hidden;
  @media (max-width: 736px) {
    height: 100%;
  }
}
